pl_onprem_sqlserver_extract.json
{
    "name": "pl_onprem_sqlserver_extract",
    "properties": {
        "activities": [
            {
                "name": "SpAuditTableSucc",
                "type": "SqlServerStoredProcedure",
                "dependsOn": [
                    {
                        "activity": "CopyArchive",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "storedProcedureName": "[dbo].[sp_Audit_Table]",
                    "storedProcedureParameters": {
                        "adf_name": {
                            "value": {
                                "value": "@pipeline().DataFactory",
                                "type": "Expression"
                            },
                            "type": "String"
                        },
                        "copy_duration": {
                            "value": {
                                "value": "@activity('CopyArchive').output.copyDuration",
                                "type": "Expression"
                            },
                            "type": "Int32"
                        },
                        "execution_end_time": {
                            "value": {
                                "value": "@convertFromUtc(utcNow(),'Mountain Standard Time')",
                                "type": "Expression"
                            },
                            "type": "Datetime"
                        },
                        "execution_error_message": {
                            "value": {
                                "value": "@activity('CopyArchive').output.errors",
                                "type": "Expression"
                            },
                            "type": "String"
                        },
                        "execution_start_time": {
                            "value": {
                                "value": "@convertFromUtc(pipeline().TriggerTime,'Mountain Standard Time')",
                                "type": "Expression"
                            },
                            "type": "Datetime"
                        },
                        "execution_status": {
                            "value": {
                                "value": "@activity('CopyArchive').output.executionDetails[0].status",
                                "type": "Expression"
                            },
                            "type": "String"
                        },
                        "pipeline_name": {
                            "value": {
                                "value": "@pipeline().Pipeline",
                                "type": "Expression"
                            },
                            "type": "String"
                        },
                        "records_read": {
                            "value": {
                                "value": "@activity('CopyArchive').output.rowsRead",
                                "type": "Expression"
                            },
                            "type": "Int32"
                        },
                        "records_writren": {
                            "value": {
                                "value": "@activity('CopyArchive').output.rowsCopied",
                                "type": "Expression"
                            },
                            "type": "Int32"
                        },
                        "run_id": {
                            "value": {
                                "value": "@pipeline().RunId",
                                "type": "Expression"
                            },
                            "type": "String"
                        },
                        "src_database_name": {
                            "value": {
                                "value": "@pipeline().parameters.pl_param_database_name",
                                "type": "Expression"
                            },
                            "type": "String"
                        },
                        "src_schema_name": {
                            "value": {
                                "value": "@pipeline().parameters.pl_param_schema_name",
                                "type": "Expression"
                            },
                            "type": "String"
                        },
                        "src_table_name": {
                            "value": {
                                "value": "@pipeline().parameters.pl_param_table_name",
                                "type": "Expression"
                            },
                            "type": "String"
                        },
                        "target_file_name": {
                            "value": {
                                "value": "@concat(toLower(pipeline().parameters.pl_param_table_name),'_',convertFromUtc(utcNow(),'Eastern Standard Time'),'.json')",
                                "type": "Expression"
                            },
                            "type": "String"
                        },
                        "trigger_type": {
                            "value": {
                                "value": "@pipeline().TriggerType",
                                "type": "Expression"
                            },
                            "type": "String"
                        }
                    }
                },
                "linkedServiceName": {
                    "referenceName": "ls_onprem_sqlserver",
                    "type": "LinkedServiceReference",
                    "parameters": {
                        "ls_param_db_name": "my_db"
                    }
                }
            },
            {
                "name": "SpAuditTableFail",
                "type": "SqlServerStoredProcedure",
                "dependsOn": [
                    {
                        "activity": "CopyArchive",
                        "dependencyConditions": [
                            "Failed"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "storedProcedureName": "[dbo].[sp_Audit_Table]",
                    "storedProcedureParameters": {
                        "adf_name": {
                            "value": {
                                "value": "@pipeline().DataFactory",
                                "type": "Expression"
                            },
                            "type": "String"
                        },
                        "copy_duration": {
                            "value": {
                                "value": "@activity('CopyArchive').output.copyDuration",
                                "type": "Expression"
                            },
                            "type": "Int32"
                        },
                        "execution_end_time": {
                            "value": {
                                "value": "@convertFromUtc(utcNow(),'Mountain Standard Time')",
                                "type": "Expression"
                            },
                            "type": "Datetime"
                        },
                        "execution_error_message": {
                            "value": {
                                "value": "@activity('CopyArchive').output.errors",
                                "type": "Expression"
                            },
                            "type": "String"
                        },
                        "execution_start_time": {
                            "value": {
                                "value": "@convertFromUtc(pipeline().TriggerTime,'Mountain Standard Time')",
                                "type": "Expression"
                            },
                            "type": "Datetime"
                        },
                        "execution_status": {
                            "value": {
                                "value": "@activity('CopyArchive').output.executionDetails[0].status",
                                "type": "Expression"
                            },
                            "type": "String"
                        },
                        "pipeline_name": {
                            "value": {
                                "value": "@pipeline().Pipeline",
                                "type": "Expression"
                            },
                            "type": "String"
                        },
                        "records_read": {
                            "value": {
                                "value": "@activity('CopyArchive').output.rowsRead",
                                "type": "Expression"
                            },
                            "type": "Int32"
                        },
                        "records_writren": {
                            "value": {
                                "value": "@activity('CopyArchive').output.rowsCopied",
                                "type": "Expression"
                            },
                            "type": "Int32"
                        },
                        "run_id": {
                            "value": {
                                "value": "@pipeline().RunId",
                                "type": "Expression"
                            },
                            "type": "String"
                        },
                        "src_database_name": {
                            "value": {
                                "value": "@pipeline().parameters.pl_param_database_name",
                                "type": "Expression"
                            },
                            "type": "String"
                        },
                        "src_schema_name": {
                            "value": {
                                "value": "@pipeline().parameters.pl_param_schema_name",
                                "type": "Expression"
                            },
                            "type": "String"
                        },
                        "src_table_name": {
                            "value": {
                                "value": "@pipeline().parameters.pl_param_table_name",
                                "type": "Expression"
                            },
                            "type": "String"
                        },
                        "target_file_name": {
                            "value": {
                                "value": "@concat(toLower(pipeline().parameters.pl_param_table_name),'_',convertFromUtc(utcNow(),'Eastern Standard Time'),'.json')",
                                "type": "Expression"
                            },
                            "type": "String"
                        },
                        "trigger_type": {
                            "value": {
                                "value": "@pipeline().TriggerType",
                                "type": "Expression"
                            },
                            "type": "String"
                        }
                    }
                },
                "linkedServiceName": {
                    "referenceName": "ls_onprem_sqlserver",
                    "type": "LinkedServiceReference",
                    "parameters": {
                        "ls_param_db_name": "my_db"
                    }
                }
            },
            {
                "name": "CopyArchive",
                "type": "Copy",
                "dependsOn": [],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "SqlServerSource",
                        "queryTimeout": "02:00:00",
                        "partitionOption": "None"
                    },
                    "sink": {
                        "type": "JsonSink",
                        "storeSettings": {
                            "type": "AzureBlobFSWriteSettings"
                        },
                        "formatSettings": {
                            "type": "JsonWriteSettings"
                        }
                    },
                    "enableStaging": false
                },
                "inputs": [
                    {
                        "referenceName": "ds_onprem_sqlserver_param",
                        "type": "DatasetReference",
                        "parameters": {
                            "ds_param_schema_name": {
                                "value": "@pipeline().parameters.pl_param_schema_name",
                                "type": "Expression"
                            },
                            "ds_param_table_name": {
                                "value": "@pipeline().parameters.pl_param_table_name",
                                "type": "Expression"
                            },
                            "ds_param_database_name": {
                                "value": "@pipeline().parameters.pl_param_database_name",
                                "type": "Expression"
                            }
                        }
                    }
                ],
                "outputs": [
                    {
                        "referenceName": "ds_adlsgen2_json_param",
                        "type": "DatasetReference",
                        "parameters": {
                            "ds_param_folder_name": "Archive",
                            "ds_param_file_name": {
                                "value": "@concat(pipeline().parameters.pl_param_database_name,'-',pipeline().parameters.pl_param_schema_name,'-',toLower(pipeline().parameters.pl_param_table_name),'_',convertFromUtc(utcNow(),'Eastern Standard Time'),'.json')",
                                "type": "Expression"
                            },
                            "ds_param_container_name": "downstream"
                        }
                    }
                ]
            }
        ],
        "parameters": {
            "pl_param_database_name": {
                "type": "string"
            },
            "pl_param_schema_name": {
                "type": "string"
            },
            "pl_param_table_name": {
                "type": "string"
            }
        },
        "annotations": [],
        "lastPublishTime": "2025-04-13T17:53:22Z"
    },
    "type": "Microsoft.DataFactory/factories/pipelines"
}